
.login-page {
    width: 100%;
    background-color: #f1f2f6;
    height: 100vh;
    justify-content: center;
    padding-top: 10%;

    .logo-name {
        text-align: center;
        font-weight: bold;
        font-size: 23px;
        color: $brand-success;
        text-transform: uppercase;
    }

    .links {
        margin-top:20px;
        font-weight: bold;
        text-align: center;
        font-size: 14px;

        a {
            color: $brand-success;
        }
    }

    h3 {
        color: #f1f2f3;
    }

    h2 {
        margin-bottom: 20px;
    }

    .login-form {
        width:100%;
        max-width: 400px;
        background-color: white;
        padding: 20px;
        margin: 40px auto;
        margin-top:60px;
        font-family: Asap, sans-serif;
        @include border-radius(4px);
        @include box-shadow();
    }

    .title {
        padding-top: 10px;
        font-weight: 500;
        font-size: 1.3em;
    }

}
