/node_modules
/hot
/storage
/docs
/assets/activity
/assets/blog
/assets/offer
/assets/page
/assets/partners
/assets/project
/assets/js/*
/assets/css/*
/mix-manifest.json
/backend/css/*
/backend/js/*
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
