/node_modules
/public/hot
/public/storage
/public/docs
/public/assets/activity
/public/assets/blog
/public/assets/offer
/public/assets/page
/public/assets/partners
/public/assets/project
/public/assets/js/*
/public/assets/css/*
/public/mix-manifest.json
/public/backend/css/*
/public/backend/js/*
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
