/node_modules
/public/hot
/storage
/public/docs
/public/assets/img/activity
/public/assets/img/blog
/public/assets/img/offer
/public/assets/img/page
/public/assets/img/partners
/public/assets/img/project
/public/assets/js/*
/public/assets/css/*
/public/mix-manifest.json
/public/backend/css/*
/public/backend/js/*
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
